*, *:before, *:after {box-sizing: border-box;}
body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: #000000;
  margin: 0 auto;
  padding: 10px 0 20px 15px;
  position: fixed;
  width: 420px;
}
.arrow-left {  display: inline-block;
  width: 3px;
  margin-bottom: 0%;
  padding-bottom: -20%;
  padding-left: 2%;
  padding-top: 3%;

}
.arrow {
  display: block;
  margin-top: 7%;
  margin-right: 5%;
  float: right;

/*  margin-bottom: 0%;
  padding-bottom: -60%;
  padding-left: 95%;*/

}

.restaurant-list {
  padding-top: 55px;
}
.location {
  font-style: normal;
  background-color: #dedede;
  border-bottom: 1px solid #000000;
  margin: auto;
  padding: 2%;
  padding-bottom: 6%;
}

h1 {
  font-size: 1.8em;
  font-weight: bolder;
  line-height: 1.5;
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
}

.content {
  display: inline-block;
  padding-top: 4%;
  padding-bottom: -1%;
  padding-left: 5%;

}
